.header {
  min-height: 150px;
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
}

.header_logo img {
  max-height: 90px;
  max-width: 90px;
  margin-right: 40px;
}

.header_info {
  font-size: 30px;
  text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
}
