.parent_cart {
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 5px;
}

.parent_cart .btn_update {
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    margin: 10px 20px;
    font-size: 14px;
    text-align: center;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.parent_cart .btn_update:hover {
    background: #1da6f5;
    box-shadow: 0 15px 20px rgba(12, 12, 12, 0.4);
    color: white;
}

.parent_cart .btn_delete:hover {
    background: #c92424;
    box-shadow: 0 15px 20px rgba(12, 12, 12, 0.4);
    color: white;
}

label {
    color: black;
    user-select: none; 
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

.cart {
    background-color: #2196F3;
    transition: background-color 1s linear;
    border-radius: 10px/20px;
    padding: 20px;
    height: 130px;
    width: 150px;
    margin: 10px;
}

.cart:hover {
    background-color: #dfe2f5;
    color: black;
}

.weatherMain {
    display: flex;
    align-items: center;
}

.cityName {
    font-size: 20px;
}